<div class="btn btn-block btn-group-vertical" role="group" aria-label="...">
<% @tests.each do |test| %>
    <%= link_to "#{test.subject} #{test.part}", test, class: "btn btn-default" %>
<% end %>

<%= link_to t("new"), new_test_path, class: "btn btn-primary" %>
</div>